* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar {
  width: 100%;
}
.column1 {
  float: left;
  width: 33.33%;
  padding: 10px;
}
.column1 input {
  border: 2px solid blueviolet;
  border-radius: 5px;
  text-align: left;
  font-size: x-large;
  padding-right: 200px;
  padding:8px;
}
.column1 a {
  display: flex;
  float: left;
  padding: 10px;
  text-decoration: none;
  font-size: x-large;
  color: black;
  justify-content: space-around;
}

.column1 button {
  color: gray;
  border: blueviolet;
  border-radius: 20px;
  box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);
  padding: 8px;
  cursor: pointer;
  font-size: 20px;
}
.button:hover {
  transition: 0.2s;
  color: black;
  background-color: gray;
}

@media screen and (max-width: 700px) {
  .column1 {
    width: 100%;
  }
  .column1 a{
    font-size: xx-large;
  }
}

.main {
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;

}

h1 {
    
    font-family: cursive;
    color: rgb(0, 6, 90);
    font-size: 50px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border: 3px black;
  }
  
  @media (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  @media (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }